@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.App {
  padding: 20px 20px 20px 100px;
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  background-color:black;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
$teal:#00ffff;
$red:#ca1f1f79 ;
$grey:rgba(66, 57, 57, 0.438);
$vibrantgrey:rgba(92, 88, 88, 0.719);


@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.load-box {
  margin: 500px auto;
  background-color: $teal;
  width: 100px;
  height:50px;
  position: relative;
  animation: load 3s linear infinite;

}
.load-background {
  border: $red;
  background-color: white;
  width: 200px;
  height: 50px;
}
.load {

  
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}






.load-box {
  margin: 500px auto;
  background-color: $teal;
  width: 100px;
  height:50px;
  position: relative;
  animation: load 3s linear infinite;

}
.load-background {
  border:$red;
  background-color: white;
  width: 200px;
  height: 50px;
}
.load {

  
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes load {
  0% {
      width: 0%;
  }

  87.5% {
      width: 100%;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@import "./auth";
@import "./dash";
@import "./form";
@import './post';
@import './header';
@import './update';
@import './contact';
@import './twilio';