.auth {
    width: 100vw;

    background-image: linear-gradient(97deg,  #464646,#020000);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    
    @media only screen and (max-width: 400px);
  }
  
  .register{
    cursor: pointer;
  }
  .auth-container {
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(97deg, #181717, #807f7f);
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    
  }
  .learn-more{
   position: absolute;
  top: 70%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 166, 0, 0.479);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 5;
  }
  hover.learn-more{
background-color: rgb(233, 82, 36);
}
  
  .auth-title {
    font-size: 80px;
    font-weight: 700;
  }

  .auth-error-msg {
    position: absolute;
    top: 55%;
    height: 40px;
    background-color: white;
    color: #403d39;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .auth-error-msg > span {
    cursor: pointer;
    margin-left: 10px;
    color: #ff7a6e;
  }
  
  .auth-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
  }
  
  .auth-input-box > input {
    height: 35px;
    margin-left: 10px;
    border: none;
  }

  .auth-input-box > input:focus {
    outline-color: #ff9770;
    outline-width: 5px;
  }
  
  .auth-button-container {
    display: flex;
    justify-content: space-around;
    width: 55%;
    cursor: pointer;
  }
img{
  opacity: 0.4;
  width:60vw;
}

  @media only screen and (max-width: 760px) {
   .auth-container {
     width: 100%;
     font-size:smaller;
     padding:0px;
     height:100vh;
     background-image: linear-gradient(97deg, #181717, #807f7f);
    }
    .learn-more{
   display:none;
    }
    .img-container{display:none;
    }
  }

  .dark-button{
    cursor: pointer;
  }